body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 36px;
    color: #444;
    padding: 0 10px;
    font-family: Verdana, sans-serif;
}

a {
    color: #aa0000;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
}