body {
    margin: 40px auto;
    max-width: 700px;
    line-height: 1.6;
    font-size: 14pt;
    color: #444;
    padding: 0 10px;
    font-family: Verdana, sans-serif;
}

h1 {
    font-size: 1.5em;
}
h2 {
    font-size: 1.3em;
}
h3 {
    font-size: 1.1em;
}

a {
    color: #a00;
    text-decoration: none;
}

a:hover {
    color: #f00;
}

header > p,
footer > p {
    color: #999;
    font-size: 0.9em;
    font-style: italic;
}
