/*
	General stuff
*/

* {
	margin:0;
	padding:0;
}

body {
	max-width: 920px;
	margin-left:auto;
	margin-right:auto;
	background-color:#fafafa;
	font-family:Arial;
	font-size:15pt;
}

div {
	margin-bottom:1.2em;
	padding:0 0.4em 0 0.2em;
}

p {
	padding: 0.2em 0 0.2em 0;
}

/*
	Headings
*/

h1, h2 {
	font-family:Verdana,Arial;
}

h1 {
	padding:0.4em;
	color:white;
	background-color:#aa0000;
	font-size:1.4em;
	letter-spacing:0.15em;
}

h2 {
	margin: 0.5em 0.2em 0.5em 0.2em;
	color:#aa0000;
	border-bottom:1px dotted black;
	font-size:1.2em;
}

/*
	Tables
*/

table {
	font-size:1em;
}

th, td {
	padding:0.2em;
	vertical-align:top;
	text-align:left;
}

th {
	padding-left:0;
	padding-right:0.8em;
	font-weight:normal;
}

/*
	Links
*/

a {
	color:#aa0000;
	text-decoration:none;
}

a:hover {
	color:#ff0000;
}

/*
	Lists
*/

li {
	margin-left:1.2em;
	list-style-type:circle;
}

/*
	Specific styles
*/

div.organization {
	font-weight:bolder;
}
div.position {
	font-style:italic;
}
div.computerskill {
	font-weight:bold;
}
div.computerskill li {
	font-weight:normal;
}
div.language,
div.link,
div.other {
	margin-bottom:0.2em;
}
div.time,
div.organization,
div.position,
div.description
{
	margin-bottom:0.1em;
}
.oldish {
	font-size: 0.8em;
}