* {
	margin:0;
	padding:0;
}

body {
	padding-left:1em;
	padding-right:1em;
	background-color:#a00;
	font-family:Verdana,Arial,sans-serif;
	font-size:16pt;
	line-height:1.2em;
}

main {
	padding:1em;
	background-color:#fafafa;
	max-width:65ch;
	margin-left:auto;
	margin-right:auto;
}

p {
	margin-bottom:.4em;
}

div {
	margin-bottom:1em;
}

h1 {
	font-size:1.4em;
}
h2 {
	color:#a00;
	font-size:1.2em;
}
h1, h2 {
	margin-bottom:.6em;
}

a {
	color:#aa0000;
	text-decoration:none;
}

a:hover {
	color:#f00;
}

small {
	font-size:12pt;
}

.personal-info > p:nth-child(odd) {
	margin-bottom:.1em;
	font-weight:bold;
}

div.organization {
	font-style:italic;
}
div.position {
	font-weight:bold;
}
div.language,
div.link,
div.other {
	margin-bottom:.2em;
}
div.time,
div.organization,
div.position,
div.description
{
	margin-bottom:.1em;
}
.oldish {
	font-size:.8em;
}
.no-break {
	white-space:nowrap;
}

@media screen and (max-width: 400px) {

	body {
		font-size:14pt;
		padding-left:0;
		padding-right:0;
	}

}
