body {
	font-size:12pt;
}

h1 {
	color:black;
	background-color:white;
	padding:0.3em;
	padding-left:0.1em;
	font-family:Verdana,Arial;
	font-size:1.4em;
	letter-spacing:0.2em;
}

h2 {
	color:black;
	margin-top:0.5em;
	margin-bottom:0.7em;
	margin-left:0.2em;
	border-bottom:1px dotted black;
	font-family:Verdana,Arial;
	font-size:1.2em;
}

a {
	color:#555555;
	text-decoration:underline;
}