{% include header.html %}

{% assign author = site.data.authors[page.author] %}

<header>
    <nav>
        <a href="/">
            {% if page.categories contains "fi" %}
            Takaisin pääsivulle
            {% else %}
            Back to home
            {% endif %}
        </a>
    </nav>
</header>

<main>
    <h1>{{ page.title }}</h1>
    <p class="author">
        {{ page.date | date: "%F" }}
        {{ author.name }}
    </p>
    {{ content }}
</main>

<footer>
    <p class="author">
        {{ author.name }}
    </p>
    <nav>
        <a href="/">
            {% if page.categories contains "fi" %}
            Takaisin pääsivulle
            {% else %}
            Back to home
            {% endif %}
        </a>
    </nav>
</footer>

{% include footer.html %}